<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Current XP</mat-label>
    <input type="number" matInput formControlName="currentXp" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Current Level</mat-label>
    <input type="number" matInput formControlName="currentLevel" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Target Level</mat-label>
    <input type="number" matInput formControlName="targetLevel" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>XP Difference</mat-label>
    <input type="number" matInput formControlName="xpDifference" />
  </mat-form-field>
</form>
<app-progress-bar
  [hiscoreSkill]="getMagicSkill()"
  [showPercent]="true"
  [maxXp]="getTargetXp()"
  class="mat-elevation-z2"
>
</app-progress-bar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <ng-container matColumnDef="spell">
    <th mat-header-cell *matHeaderCellDef>Spell</th>
    <td mat-cell *matCellDef="let row">{{ row.spell }}</td>
  </ng-container>
  <ng-container matColumnDef="xpPerThousandCasts">
    <th mat-header-cell *matHeaderCellDef>XP/1k casts</th>
    <td mat-cell *matCellDef="let row">{{ row.xpPerThousandCasts / 1000 | number: '1.1-1' }}k</td>
  </ng-container>
  <ng-container matColumnDef="xpPerHour">
    <th mat-header-cell *matHeaderCellDef>XP/hr</th>
    <td mat-cell *matCellDef="let row">{{ row.xpPerHour / 1000 | number: '1.1-1' }}k</td>
  </ng-container>
  <ng-container matColumnDef="hours">
    <th mat-header-cell *matHeaderCellDef>Hours</th>
    <td mat-cell *matCellDef="let row">{{ row.hours | number: '1.2-2' }} hrs</td>
  </ng-container>
  <ng-container matColumnDef="casts">
    <th mat-header-cell *matHeaderCellDef>Casts</th>
    <td mat-cell *matCellDef="let row">{{ row.casts | number: '1.0-0' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
