<div class="progress-bar">
  <div class="progress-bar-back">
    <span class="skill-name">{{ hiscoreSkill.skill.Name }} ({{ hiscoreSkill.level | number }})</span>
    <span *ngIf="hiscoreSkill.xp == -1" class="skill-xp">Unranked</span>
    <span *ngIf="hiscoreSkill.xp >= 0 && !showPercent" class="skill-xp">{{ hiscoreSkill.xp | number }}</span>
    <span *ngIf="hiscoreSkill.xp >= 0 && showPercent" class="skill-xp">{{
      hiscoreSkill.getPercentCompleted(this.maxXp) / 100 | percent
    }}</span>
    <div
      class="progress-bar-front"
      [style.width.%]="hiscoreSkill.getPercentCompleted(this.maxXp)"
      [style.backgroundColor]="hiscoreSkill.skill.Color"
    ></div>
  </div>
</div>
