.progress-bar {
    width: 100%;
    height: 40px;
    color: white;
    padding-bottom:2px;
}
.progress-bar-back {
    height: 100%;
    background-color: rgb(30, 30, 30);
}
.progress-bar-front {
    height: 100%;
    background-color: blue;
    vertical-align: middle;
}
.skill-name {
    padding-left: 10px;
    line-height: 40px;
    float: left;
}
.skill-xp {
    padding-right: 10px;
    line-height: 40px;
    float: right;
}